<div id="result_message">
    <% if @scorer.is_draw %>
        The game was a draw!
    <% else %>
        <em><%= @scorer.winner.chr %></em> won!
    <% end %>
</div>
<form method="POST" action="/game/new">
    <input class="new_game" type="submit" value="New Game" />
</form>
