<html>
  <head>
      <title>Tic-Tac-Toe: The most wonderful game in the world.</title>
      <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div id="game_display">
        <%= yield %>
        <% unless session[:error_statement].nil? %>
            <div id="error">
                <%= session[:error_statement] %>
            </div>
        <% end %>
        <% unless session[:message].nil? %>
          <div id="message">
            <form method="GET" action="/">
              <%= session[:message] %> 
              <input class="result_new_game" type="submit" value="New Game" />
            </form>
          </div>
        <% end %>
    </div>
  </body>
</html>
